<ion-header>
  <ion-toolbar>

    <!-- Título -->
    <ion-title>
      Inicio
    </ion-title>

    <!-- Botón cerrar sesión -->
    <ion-button slot="end" fill="clear" color="danger" (click)="cerrarSesion()">

      <ion-icon name="log-out-outline"></ion-icon>

    </ion-button>

  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <div class="home-wrapper">

    <!-- Card bienvenida -->
    <ion-card class="bienvenida-card">

      <ion-card-content>

        <div class="icono-principal">
          <ion-icon name="sparkles-outline"></ion-icon>
        </div>

        <h1>
          Bienvenida a Anime App
        </h1>

        <p>
          Explora animes, busca tus favoritos,
          revisa detalles y guarda fotos desde la cámara.
        </p>

      </ion-card-content>

    </ion-card>

    <!-- Título sección -->
    <h2 class="section-title">
      Accesos rápidos
    </h2>

    <!-- Lista -->
    <ion-list class="menu-list">

      <!-- Catálogo -->
      <ion-item button lines="none" class="menu-item" (click)="irCatalogo()">

        <ion-icon name="search-outline" slot="start">
        </ion-icon>

        <ion-label>

          <h3>
            Catálogo
          </h3>

          <p>
            Buscar y ver animes
          </p>

        </ion-label>

      </ion-item>

      <!-- Cámara -->
      <ion-item button lines="none" class="menu-item" (click)="irCamara()">

        <ion-icon name="camera-outline" slot="start">
        </ion-icon>

        <ion-label>

          <h3>
            Cámara
          </h3>

          <p>
            Tomar y guardar fotos
          </p>

        </ion-label>

      </ion-item>

      <!-- Perfil -->
      <ion-item button lines="none" class="menu-item" (click)="irPerfil()">

        <ion-icon name="person-outline" slot="start">
        </ion-icon>

        <ion-label>

          <h3>
            Perfil
          </h3>

          <p>
            Editar información local
          </p>

        </ion-label>

      </ion-item>

    </ion-list>

  </div>

</ion-content>